@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  min-height: 0;
}

html, body, #root {
  background-color: #F6EDF4 !important;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-variant: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: 'ss01' on,'ss02' on,'cv01' on,'cv03' on;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

*::-webkit-scrollbar-track {
	border-radius: 8px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: #888;
}